.about_container {
    margin: 3rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.about_container img {

    /*
    border-radius: 50%;
    border: 0.5px solid rgb(218,218,218);
    */

    margin-left: 3rem;
    margin-bottom: 3rem;
    margin-right: 3rem;
    max-width: 500px;
    max-height: 500px;
    object-fit: scale-down;
}

.about_text {
    max-width: 400px;
    margin-left: 3rem;
    margin-right: 3rem;
}

/* ----------------- MEDIA QUERIES -------------- */

@media only screen and (max-width: 900px) {
    .about_container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 700px) {
    .about_text {
        max-width: 350px;
    }
}