:root {
    --nav-color: hsl(210, 11%, 15%);
    --nav-color-hover: hsl(210, 11%, 45%);
    --nav-border-color: hsl(210, 11%, 45%);
    --light-color: hsl(197, 42%, 85%);
    --font-color: hsl(0, 0%, 90%);
    --font-color-hover: rgba(230, 230, 230, 0.25);
    --white: rgb(255, 255, 255);
    --gray-hover: rgb(224, 221, 221);
}

